
<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: </b>
    <ul>
    <li>Name some popular languages used in data science</li>
    <li>Name some commonly used python libraries</li>
    <li>Display some examples of arithmetic in Python</li>
    </ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Scala</li>
    <li>Python</li>
    <li>SQL</li>
    </ol>

Some of the commonly used Python libraries used by Data Scientists include:
    <ol>
    <li>Pandas</li>
    <li>Scikit learn</li>
    <li>Pytorch</li>
    </ol>

<table><tr><th>Data Science Tools</th></tr>
<tr><td>Hadoop</td></tr>
<tr><td>Apache Spark</td></tr>
<tr><td>Scrapy</td></tr></table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to multiply and then add integers.
print((3*4)+5)

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60.
mins=200
print(mins, " minutes are " ,mins//60, "hour(s) and ", mins%60, " minutes" )

200  minutes are  3 hour(s) and  20  minutes

<h2>Author</h2>
Shiv